img{
    width: 25%;
    height: 25%;
    margin: 15px;
}

p {
    text-decoration: none;
    display: flex;
    text-align:justify;
}
#video{
    background: lightblue;
    padding: 20px;
    margin: 20px;
    border: 5px solid #000;
}

