body{
    margin: 50px 100px 50px 100px;
    font-size: 18px;
    font-family: 'Balsamiq Sans';
    color: white;
    background-color: #05a3ff;
}
a:link{
    color: white; text-decoration: none;
}
a:visited{
    color: white;text-decoration: none;
}

a:hover{
    color:white; text-decoration: none;
}

h1{
    color:#ffee05;
    color: inherit;
}


mark{
    background-color: #ffee05;
}

a{
    text-decoration: none;
}

.stopFloat{    
    clear: both;
}

.alinharElementosAEsquerda{
    float: left;
}

.alinharElementosADireita{
    float: right;
}

.alinharTextoADireita{
    text-align: right;
    text-decoration: none;
}

.alinharTextoAEsquerda{
    text-align: left;
    text-decoration: none;
}

.alinharAocentro{
    display: flex;
    justify-content:center;
}


